<!DOCTYPE html>
html
    head
        title Project Js
    body
    .container
        .row
            .col.s12
            #main.card
                .card-content
                span.card-title Task List
                .row
                    form#task-form
                    .input-field.col.s12
                        input#task(type='text', name='task')
                        label(for='task') New Task
                    input.btn(type='submit', value='Add Task')
                .card-action
                h5#task-title Tasks
                .input-field.col.s12
                    input#filter(type='text', name='filter')
                    label(for='filter') Filter Tasks
                ul.collection
                a.clear-tasks.btn.black(href='#') Clear Tasks
        script(src='app.js')
        .hiddendiv.common
